apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka-producer
  namespace: his-kafka
  labels:
    app: kafka-producer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka-producer
  template:
    metadata:
      labels:
        app: kafka-producer
    spec:
      containers:
        - name: producer
          image: python:3.9-slim
          command: ["/bin/sh", "-c"]
          args:
            - |
              pip install kafka-python && python /app/producer.py
          envFrom:
            - configMapRef:
                name: producer-config
          volumeMounts:
            - name: script-volume
              mountPath: /app
          resources:
            limits:
              cpu: 250m
              memory: 512Mi
            requests:
              cpu: 100m
              memory: 256Mi
      volumes:
        - name: script-volume
          configMap:
            name: producer-config0m
