apiVersion: v1
kind: ConfigMap
metadata:
  name: consumer-config
  namespace: his-kafka
data:
  KAFKA_BOOTSTRAP_SERVERS: "his-kafka-cluster-kafka-bootstrap:9092"
  KAFKA_TOPIC: "hospital"
  KAFKA_GROUP_ID: "consumer-group"
