apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka-consumer
  namespace: his-kafka
  labels:
    app: kafka-consumer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka-consumer
  template:
    metadata:
      labels:
        app: kafka-consumer
    spec:
      containers:
      - name: consumer
        image: python:3.9-slim
        command: ["/bin/sh", "-c"]
        args:
          - |
            pip install kafka-python && python /app/consumer.py
        envFrom:
        - configMapRef:
            name: consumer-config
        volumeMounts:
        - name: script-volume
          mountPath: /app
        resources:
          limits:
            cpu: 250m
            memory: 512Mi
          requests:
            cpu: 100m
            memory: 256Mi
      volumes:
      - name: script-volume
        configMap:
          name: consumer-config0m
